 .u-section-1 {
  background-image: url("images/320d03b1-6e33-3637-1e3a-9eedf3e7307c.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1104px;
}

.u-section-1 .u-image-1 {
  width: 400px;
  height: 400px;
  background-image: url("images/photo-1672492897710-14b2de3b4089.jpeg");
  background-position: 50% 50%;
  margin: 60px auto 0;
}

.u-section-1 .u-text-1 {
  width: 631px;
  font-size: 6rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  width: 631px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 910px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 697px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}